### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*/target/**
*/files/**
bin/

target/
bin/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
